html {
    --theme-color: rgb(45, 45, 45);
    --dark-background-color: #ddd;
    --light-background-color: #fff;
    --light-font-color:#fff; 
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Entfernt den Standard-Margin des Body und HTML Elements */
    padding: 0; /* Entfernt das Standard-Padding */
    width: 100%; /* Stellt sicher, dass der Body und HTML Elemente die volle Breite einnehmen */
}

h1 {
    position: relative;
    text-align: center;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.logo {
    width: 40px;
    padding: 10px;

}

.header-nav-wrapper {
    background-color: var(--theme-color);
    width: 100%; /* Setzt die Breite des Wrappers auf 100% des Viewports */
    margin: 0; /* Entfernt jegliche Margin */
    padding: 0; /* Entfernt jegliche Padding */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in die Breite inkludiert sind */
    display: flex; /* Behält das Flex-Layout bei */
    justify-content: space-between; /* Positioniert Header und Navigation am Anfang und Ende des Containers */
    align-items: center; /* Zentriert die Elemente vertikal */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px #ddd;
}

.header-nav-wrapper h1 {
    padding-left: 0.5rem;
    color: var(--light-font-color);
    width: 100%;
}
.site-header,
.site-nav {
    margin: 0; /* Entfernt mögliche Standardmargen */
}

.site-nav a,
.site-footer a{
    text-decoration: none;
    color: #ddd;
    padding: 5px 8px; /* Große Berührungsflächen */
    margin: 0 5px; /* Etwas Abstand zwischen den Links *//
    display: inline-block; /* Ermöglicht das Setzen von Padding und Margin */
    transition: background-color 0.3s ease; /* Glatte Farbübergänge */
    font-size: 16pt;
    
}
.site-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-nav li {
    display: inline;
    padding: 0 10px;
}

.site-nav a:focus,
.site-nav a.active {
    
    border: solid;
    border-width: 1pt;
    border-color: aqua;
    color: aqua;
    border-radius: 30%;
}

.site-footer {
    background-color: var(--theme-color);
    padding: .1rem;
    text-align: right;
}

.site-footer p {
    color: #ddd;
    padding-right: 20px;
}

.footer-links :last-child {
    margin-left: auto;
}

.hero-section {
    margin-bottom:2rem;
}

.portrait-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
}

.portrait {
    width: 48%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.info-emoji {
    position: absolute;
    text-align: center;
    width: 107px;
    font-size: 12pt;
    transform: translateX(-50%); /* Zentriert die Emojis horizontal */
    }

.info-emoji-1 {
    top: 5%;
    left: 76%;
    rotate: -20deg;
}

.info-emoji-2 {
    bottom: 50%;
    left: 85%;
}

.info-emoji-3 {
    bottom: 10%;
    left: 78%;
    rotate: 20deg
}

.info-emoji-4 {
    bottom: 20%;
    left: 20%;
    rotate:-20deg;
}

.info-emoji-5 {
    bottom: 50%;
    left: 13%;
}

.info-emoji-6 {
    top: 16%;
    left: 22%;
    rotate: 20deg;
}

.intro {
    padding: 1rem;
    line-height: 175%;
    background-color: var(--dark-background-color);

}

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Fügt relative Positionierung hinzu */
    flex-shrink: 0;
}

.author-picture {
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    max-width: 300px; /* oder eine andere Größe */
    max-height: 300px; /* sollte gleich der Breite sein für einen perfekten Kreis */
    object-fit: cover;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
}

.author-name {
    margin-top: 10px;
}

.left-arrow, .right-arrow {
    color: var(--dark-background-color); 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 100;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Stil, um die Scrollleiste zu verbergen (optional) */
.carousel-container::-webkit-scrollbar {
    display: none;
}

.site-content { line-height: 1.5;}

.background-container {
    /* Hintergrundbild */
    background-image: url(images/Backgroundimage-Moon.png); /* Pfad zu deinem Bild */
    
    /* Fixiertes Hintergrundbild */
    background-attachment: fixed;
    
    /* Das Bild deckt den verfügbaren Raum ab, ohne seine Proportionen zu verlieren */
    background-size: cover;
    
    /* Zentriert das Bild */
    background-position: center center;
}

.timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.timeline-block {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    color: ;
}

.timeline-block div{
    border: 2px solid#888;
    border-radius: 1em;
    padding: 1.5em;
    background-color: var(--dark-background-color);
}

.timeline-block p {
    line-height: 27px;
}

.timeline-block:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.timeline-block:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
}

.timeline-block:nth-child(odd)::before,
.timeline-block:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.timeline-block:nth-child(odd)::before {
    left: 0;
}
.timeline-block:nth-child(even)::before {
    right: 0;
}

.timeline-block:nth-child(odd) div::before,
.timeline-block:nth-child(even) div::before {
    content: '';
    background: var(--theme-color);
    box-shadow: 0 0 0.5em var(--dark-background-color);
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.timeline-block:nth-child(odd) div::before {
    left: -0.5em
}

.timeline-block:nth-child(even) div::before {
    right: -0.5em
}

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }

    .timeline-block p {
        line-height: 27px;
    }

    .timeline .timeline-block {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .timeline-block::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .timeline-block div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--dark-background-color);
    flex-grow: 1; /* Erlaubt dem content-Element, den verbleibenden Platz einzunehmen */
    overflow-y: auto; /* Fügt einen Scrollbalken hinzu, falls der Inhalt länger als der Bildschirm ist */
    min-height: calc(100vh - 66px); /* Passt die Höhe an die des Viewports an, abzüglich der Höhe des Headers */
    flex-direction: column;
}

#inputArea {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#inputArea input, #inputArea button {
    padding: 10px 15px; /* Gibt Input und Button ein angenehmes Padding */
    font-size: 16px; /* Legt eine passende Schriftgröße fest */
    border: 2px solid var(--theme-color);
    border-radius: 5px; /* Rundet die Ecken für ein modernes Aussehen */
    margin: 10px 0; /* Fügt etwas Abstand oben und unten hinzu */
}

#inputArea input {
    flex-grow: 1; /* Ermöglicht, dass das Input-Feld den verfügbaren Platz einnimmt */
    margin-right: 10px; /* Fügt einen rechten Abstand zum Button hinzu */
    border-right-width: 5px; /* Verstärkt den rechten Rand, um eine visuelle Trennung zu betonen */
}

#inputArea button {
    background-color: var(--theme-color);/* Blaue Hintergrundfarbe */
    color: white; /* Weiße Schriftfarbe */
    cursor: pointer; /* Verändert den Cursor, um Klickbarkeit anzudeuten */
    border-color: #444; /* Dunklerer Rand für den Button für einen 3D-Effekt */
}

#userActivities {
    flex-grow: 1;
    margin-right: 10px;
}

#results {
    min-height: 200px; /* Just for demonstration */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generatedImage {
    width: auto; /* Passt die Breite des Bildes automatisch an, um das Seitenverhältnis zu bewahren */
    max-height: 35vh; /* Beschränkt die maximale Höhe des Bildes auf ein Drittel der Bildschirmhöhe */
    height: auto; /* Passt die Höhe automatisch an, um das Seitenverhältnis zu bewahren */
    max-width: 95vw; /* Stellt sicher, dass das Bild maximal 95% der Bildschirmbreite einnimmt */
    margin: 20px auto; /* Zentriert das Bild horizontal und fügt einen Abstand oben und unten hinzu */
}


#instruction, #generatedPoem {
    
    margin: 20px 0;
    padding: 0.5rem;
    
}

#instruction {
    font-size: 20pt;
}
